.header {
  background-color: #7cbfb8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 #0000001a;

  .toolbar-row-start {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;

    .logo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 1rem;

      img {
        width: 12rem;
        padding-right: 1.3rem;
      }

      p {
        position: absolute;
        right: 0;
        bottom: 0.75rem;
        color: #fff;
        margin: 0;
      }
    }
  }

  .toolbar-row-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    padding-right: 2rem;

    .auth {
      display: flex;
      gap: 1rem;
      a {

        &[mat-raised-button] {
          background-color: #e0e0ff;
          color: #00006e;
          box-shadow: #00000033 0px 3px 5px -1px, #00000024 0px 6px 10px 0px, #0000001f 0px 1px 18px 0px
          ;
        }
      }
    }

    .profile {
      display: flex;
      gap: 1rem;

      button {
        img {
          width: 1.7rem;
          height: 1.7rem;
          border-radius: 100%;
        }
      }
    }
  }
}
