<mat-toolbar class="header">
  <div class="toolbar-row-start">
    <a class="logo" routerLink="/">
      <img src="branding/paidlance-logo-long.png" alt="">
      <p>.dev</p>
    </a>
  </div>
  <div class="toolbar-row-end">
    @if (!user) {
    <div class="auth">
      <a mat-raised-button routerLink="sign-in">Sign In</a>
    </div>
    } @else {
    <div class="profile">
      <button mat-mini-fab [matMenuTriggerFor]="beforeMenu" aria-label="Example icon button with a profile image">
        <img src="images/profile.png" alt="">
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <a mat-menu-item [routerLink]="['/',userRole,'projects']"><mat-icon>dashboard</mat-icon>Dashboard</a>
        <a mat-menu-item><mat-icon>person</mat-icon>Profile</a>
        <button mat-menu-item (click)="onLogout()"><mat-icon>logout</mat-icon>Logout</button>
      </mat-menu>
    </div>
    }
  </div>
</mat-toolbar>
