.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.is-mobile {
    .header {
      position: fixed;
      z-index: 2;
    }

    mat-sidenav-container {
      flex: 1 0 auto;
    }
  }

  .header {
    background-color: #7cbfb8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 #0000001a;

    .toolbar-row-start {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      mat-icon {
        color: #fff;
      }

      .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 1rem;

        img {
          width: 12rem;
          padding-right: 1.3rem;
        }

        p {
          position: absolute;
          right: 0;
          bottom: 0.75rem;
          color: #fff;
          margin: 0;
        }
      }
    }

    .toolbar-row-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30%;
      padding-right: 2rem;

      .profile {
        display: flex;
        gap: 1rem;

        button {
          img {
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 100%;
          }
        }
      }
    }
  }

  mat-sidenav-container {
    flex: 1;

    mat-sidenav {
      width: auto;
      border-radius: 0;
      box-shadow: 0 2px 4px 0 #0000001a;

      a[mat-list-item] {
        padding-right: 2rem;
      }
    }

    mat-sidenav-content{
      padding: 1rem 2rem;
    }
  }
}

