.header {
  background-color: #7cbfb8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  box-shadow: 0 2px 4px 0 #0000001a;

  .toolbar-row-start {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 12rem;
      }
    }

    nav {
      a {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 0.1rem;
        margin: 0 0.5rem;
      }
    }
  }

  .search {
    form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;

      mat-form-field {
        width: 100%;
        position: relative;

        mat-icon {
          margin-left: 0.5rem;
          cursor: pointer;
        }

        .trigger {
          width: 7rem;
          padding-right: 2.5rem;
          margin-right: 0.5rem;

          &::after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid;
            content: '';
            height: 0;
            position: absolute;
            right: 16px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 0;
          }
        }
      }
    }
  }

  .toolbar-row-end {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;

    .auth {
      a {
        margin-left: 1rem;

        &[mat-raised-button] {
          // background-color: #fff;
          // color: #33ad52;
        }
      }
    }
  }
}
