<div class="talents">
<div class="side-filter">
  <mat-accordion multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Field
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-chip-listbox aria-label="field selection">
        @for (field of fields; track field) {
          <mat-chip-option color="primary">{{field}}</mat-chip-option>
        }
      </mat-chip-listbox>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hourly Rate
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-chip-listbox aria-label="rate selection">
        @for (rate of hourlyRate; track rate) {
          <mat-chip-option color="primary">{{rate}}</mat-chip-option>
        }
      </mat-chip-listbox>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Years Experience
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-chip-listbox aria-label="field selection">
        @for (years of yearsExperience; track years) {
          <mat-chip-option color="primary">{{years}}</mat-chip-option>
        }
      </mat-chip-listbox>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  <div class="cards-wrapper">
    @for (talent of talents; track talent.id) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{talent.username}}</mat-card-title>
        <mat-card-subtitle>{{talent.firstName}} {{talent.lastName}}</mat-card-subtitle>
        <img mat-card-image src="{{talent.picture}}">
      </mat-card-header>
      <mat-card-content>
        <div class="rate-experience">
          <h2>{{talent.field}}</h2>
          <h3>{{talent.experience}}</h3>
          <h3>{{talent.rate}}</h3>

        </div>
        <div class="skills">
          <p>Top Skills</p>
          @for (skill of talent.topSkills; track skill) {
          <ul>
            <li>{{skill.skillName}}</li>
          </ul>
          }
        </div>

      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button [routerLink]="['/talent', talent.username]">More</a>
        <a mat-raised-button>Message</a>
        <a mat-raised-button>Hire</a>
      </mat-card-actions>
    </mat-card>
    }
  </div>

</div>
