<div class="home">
  <div class="heading">
    <div class="cover"></div>
    <div class="welcome">
      <img src="/branding/paidlance-logo-long-teal-2.png" alt="">
      <h2>A place where Freelancers become Paidlancers in minutes.</h2>
      <h3>Our talents are empowered to get paid for
        their hard work</h3>
      <h3>without having to worry about unjustified backdate refunds!</h3>
    </div>
  </div>
  <div class="headline">
    <h1>Diverging from the norm, while still honoring the importance of clients, we prioritize the welfare of
      paidlancers over all else.</h1>
  </div>
  <div class="description gradient">
    <h3>At PaidlanceDev, our primary goal is to provide a secure environment where talents can bring their clients and
      rest assured that payments will not be rolled back.</h3>
    <h3><span>Our mission is simple:</span> to create a fair and transparent environment where talents can focus on
      delivering
      exceptional work, knowing they'll be compensated fairly for their time and expertise.</h3>
    <h3>As a PaidlanceDev, you choose your time, you choose your clients and projects, and we help you by ensuring there
      are no backdated unjustified refunds.
    </h3>
    <h2> We offer real and <span>unconditional</span> protection! </h2>
    <h3>With our streamlined process, clients have a limited window of <span>24 hours</span> to request refunds,
      preventing any
      backdate refund requests and fostering a fair environment.</h3>
    <h3>PaidlanceDev offers access to a pool of verified talents who are committed to delivering outstanding results.
    </h3>
    <h3>With our emphasis on trust and reliability, PaidlanceDev is the go-to destination for talents seeking part-time
      work and fair compensation, as well as for clients looking for top-notch talent to bring their projects to life.
    </h3>
  </div>
  <div class="sections-wrapper teal">
    <section>
      <img src="images/paidlancer-home.png" alt="">
    </section>
    <section>
      <h3>Paidlancers:</h3>
      <p>Are you tired of investing countless hours into projects, only to face uncertainty when it comes to receiving
        payment? At PaidlanceDev, we deeply understand your concerns. That's why we provide a platform where you can
        verify your clients. Our straightforward system ensures peace of mind, guaranteeing that your efforts are always
        duly recognized and rewarded.</p>
      <p>Bid farewell to the frustration of endlessly chasing payments. With PaidlanceDev, you'll receive compensation for
        the hours you've dedicated or the services you've rendered. Bring your clients from other
        platforms to validate their legitimacy – because at PaidlanceDev, ensuring prompt payment is our priority. Rest
        assured, your hard work will always be valued and compensated fairly.</p>
    </section>
  </div>
  <div class="sections-wrapper gradient">
    <section>
      <h3>Clients:</h3>
      <p>Looking for reliable talents to bring your projects to life? Look no further than PaidlanceDev. Our platform
        prioritizes fairness and transparency for both paidlancers and clients alike. While we don't offer refunds, we
        assure you that your investment is protected. Our paidlancers are committed to delivering high-quality results,
        ensuring your satisfaction every step of the way.</p>
      <p>Moreover, at PaidlanceDev, ending a contract is hassle-free. You have the flexibility to conclude projects
        whenever you see fit, without any unnecessary delays. Clients can rest assured knowing they have full control
        over their projects and can end contracts as needed. Trust in our community of talented freelancers to meet your
        needs and exceed your expectations.</p>
    </section>
    <section>
      <img src="images/client-home.png" alt="">
    </section>
  </div>
  <div class="join-message">
    <mat-card>
      <h3>Embark on your journey with PaidlanceDev today and discover a realm where paidlancers flourish and clients
        prosper!</h3>
      <div class="actions">
        @if (user) {
          <button mat-raised-button class="join">Profile</button>
        } @else {
          <button mat-raised-button class="join" routerLink="/sign-in">Join Now</button>
        }
      </div>
    </mat-card>
  </div>
  <!-- <mat-card class="quote">
    <h3>"Whenever people are presented with an opportunity to screw you over, the chances are - they will take it. The
      more opportunities you give them, the more they will continue. So, stop giving them such opportunities."</h3>
    <h3>- Esther White, Software Engineer</h3>
  </mat-card> -->
</div>
