@use '@angular/material' as mat;

$theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      )));

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);


// Teal palette
$teal-1: #36625d;
$teal-2: #549a88;
$teal-3: #7cbfb8;
$teal-4: #d5ece8;
$teal-5: #f5fbff;

// Green palette
$green-1: #2f7a51;
$green-2: #2a8e43;
$green-3: #417669;
$green-4: #8cb9a8;
$green-5: #f1fcf4;

// Blue palette
$blue-1: #00006e;
$blue-2: #e0e0ff;
$blue-3: #efefff;

html {
  height: 100%;
}

body {
  @include mat.all-component-themes($theme);
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;

  a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: inherit;
  }

  p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
  }

  mat-label {
    font-family: "Lato", sans-serif;
  }

  .mdc-button__label {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    // color: #00006e;
  }

}

.gradient {
  background: linear-gradient(#d5ece8, #f1fcf4 5%, #f1fcf4 95%, #d5ece8 100%);
}

.header {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 2rem !important;
    --mdc-outlined-text-field-container: background-color: #fff !important;
  }

  .mat-mdc-text-field-wrapper {
    background-color: #f5fbff;
    border-radius: 2rem !important;
  }

  .mat-mdc-form-field-icon-suffix {
    button {
      background-color: #e0e0ff;
      color: #00006e;
      border-radius: 2rem;
    }
  }
}


mat-radio-button {
  width: 100%;
}

.mdc-form-field {
  width: 100%;
  align-items: flex-start !important;
  flex-direction: column-reverse !important;

  label {
    cursor: pointer;
  }
}

.mdc-radio {
  align-self: flex-end;
}

.mdc-radio__outer-circle {
  border-color: #7cbfb8 !important;
}

.mdc-radio__inner-circle {
  border-color: #7cbfb8 !important;
}
